

<p>
  <strong>Symbol:</strong>
  <%= @cryptos_tracker.symbol %>
</p>

<p>
  <strong>User:</strong>
  <%= @cryptos_tracker.user_id %>
</p>

<p>
  <strong>Cost per:</strong>
  <%= @cryptos_tracker.cost_per %>
</p>

<p>
  <strong>Amount owned:</strong>
  <%= @cryptos_tracker.amount_owned %>
</p>

<%= link_to 'Edit', edit_cryptos_tracker_path(@cryptos_tracker) %> |
<%= link_to 'Back', cryptos_trackers_path %>
